{% extends 'base.html.twig' %}

{% block title %}Eth index{% endblock %}

{% block body %}
    <h1>Eth index</h1>
    {{ form_start(form) }}
        {{ form_row(form.updateDate) }}
        <button type="submit" class="btn search">Rechercher</button>
    {{ form_end(form) }}
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CurrentPrice</th>
                <th>Update date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eth in eths %}
            <tr>
                <td>{{ eth.id }}</td>
                <td>{{ eth.currentPrice / 100 }} €</td>
                <td>{{ eth.updateDate|date('Y-m-d H:i:s') }}</td>
                <td>
                    <button type="submit" class="btn showButton"><a href="{{ path('app_eth_show', {'id': eth.id}) }}">show</a></button>
                    <button type="submit" class="btn editButton"><a href="{{ path('app_eth_edit', {'id': eth.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(eths, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>

    <button type="submit" class="btn showButton"><a href="{{ path('app_eth_new') }}">Create new</a></button>
{% endblock %}
