{% extends 'base.html.twig' %}

{% block title %}CollectionNft index{% endblock %}

{% block body %}
    <h1>CollectionNft index</h1>
    {{ form_start(form) }}
        {{ form_row(form.mediaCollectionNft) }}
        <button type="submit" class="btn search">Rechercher</button>
    {{ form_end(form) }}
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection_nft in collection_nfts %}
            <tr>
                <td>{{ collection_nft.id }}</td>
                <td>{{ collection_nft.label }}</td>
                <td>
                    <a href="{{ path('app_collection_nft_show', {'id': collection_nft.id}) }}">show</a>
                    <a href="{{ path('app_collection_nft_edit', {'id': collection_nft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(collection_nfts, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}

    <a href="{{ path('app_collection_nft_new') }}">Create new</a>
{% endblock %}
