{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
    <h1>Adress index</h1>
    {{ form_start(form) }}
        {{ form_row(form.nameStreet)}}
        {{ form_row(form.zipCode)}}
        <button type="submit" class="btn showButton">Rechercher</button>
    {{ form_end(form) }}
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>Street</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
        
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.city }}</td>
                <td>{{ adress.zipCode }}</td>
                <td>{{ adress.street }}</td>
                <td>{{ adress.country }}</td>
                
                <td>
                    <button type="submit" class="btn showButton"><a href="{{ path('app_adress_show', {'id': adress.id}) }}">show</a></button>
                    <button type="submit" class="btn editButton"><a href="{{ path('app_adress_edit', {'id': adress.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>        
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(adresses, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>
    {# <small>Nombre total : {{ adresses|length }}</small><br> #}
    <button type="submit" class="btn showButton"><a href="{{ path('app_adress_new') }}">Create new</a></button>
{% endblock %}
