{% extends 'base.html.twig' %}

{% block title %}Nft index{% endblock %}

{% block body %}
    
    <h1>Nft index</h1>
    {{ form_start(form) }}
        {{ form_row(form.nftTitle) }}
        {{ form_row(form.dateCreation) }}
        {{ form_row(form.orderByPrice) }}
        <button type="submit" class="btn search">Rechercher</button>
    {{ form_end(form) }}
    <br>
    <br>

    <h1>{% for eth in actualPriceEth %}{{ eth.currentPrice }}{% endfor %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCreation</th>
                <th>DateDrop</th>
                <th>Price</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nft in nfts %}
            <tr>
                <td>{{ nft.id }}</td>
                <td>{{ nft.dateCreation ? nft.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nft.dateDrop ? nft.dateDrop|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nft.price|eth_to_eur}} €</td> 
                {# <td>{% for eth in actualPriceEth%}{{ round(nft.price / 100 / (eth.currentPrice / 100), 5) }} {% endfor %} ETH</td> #}
                <td>{{ nft.title }}</td>
                <td>
                    <a href="{{ path('app_nft_show', {'id': nft.id}) }}">show</a>
                    <a href="{{ path('app_nft_edit', {'id': nft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
        {{ knp_pagination_render(nfts, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}

    

    <a href="{{ path('app_nft_new') }}">Create new</a>

{% endblock %}
